.modal{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
    color: #fff;
}

.closeModal{
    cursor: pointer;
    float: right;
    font-size: 1.6rem;
    padding: 0 0.5%;
    color: #000;
    background-color: #fff;
    border-radius: 80%;
    display: block;
    border:2px solid red;
    transition: ease-in-out 300ms;

    &:hover{
        background-color: red;
        color: #fff;
    }   
}