$header-bg-color: #101112;
$header-border-bottom: 8px solid #6bf8d9;
$header-wid: 100%;

$footer-bg-color: #101112;
$footer-border-top: 8px solid #6bf8d9;
$footer-wid: 100%;
$footer-p: 18px;
$footer-p-a-color: #e3b663;

$font: "Orbitron", sans-serif;
$font-color: #5e9186;
$font-size-header: 30px;
$font-size-footer: 20px;

$logo-wid: 15%;
$logo-margin: 5px 10px;

$logo2-wid: 6%;
$logo2-margin: 5px 10px;

$title-color: #e3b663;
