@import "./variaveis";

.container{
    overflow: hidden;
}

h1{
    text-align: center;
}

p{
    margin: 50px;
    margin-top: 20px;
    text-align: justify;
}


.square-content{
    background-color: rgb(128, 128, 128);
    height: 350px;
    width: 550px;
    margin-left: 45px;
    margin-top: 10vh;
    margin: 65px 150px;
    
    
    .image-aboutUS{
        height: 300px;
        width: 450px;
        border-radius: 7px;
        margin: 0 200px;
        position: absolute;
        left: 450px;
        bottom: 10px;
    }

    ul{
        color: black;
        padding-top: 20px;
    }
}