.chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Ajusta a largura do gráfico à largura do contêiner pai */
    height: 50vh; /* Define a altura em 50% da altura da janela */
  }