/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  background-color: black;
  padding: 0 20px 0 20px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.side-image {
  background-image: url('../assets/algas_marinhas.webp');
  min-height: 20vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  position: relative;
}
.row {
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #e3b663;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(173, 144, 144, 0.2);
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text p {
  color: #e3b663;
  font-size: 20px;
}
i {
  font-weight: 400;
  font-size: 15px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-box {
  width: 330px;
  box-sizing: border-box;
}
.input-box header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}
.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}
.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}
.input-field input:focus ~ label {
  top: -10px;
  font-size: 13px;
}
.input-field input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: black;
}
.input-field .input:focus,
.input-field .input:valid {
  border-bottom: 1px solid black;
}
.submit {
  text-align: center;
  border: none;
  outline: none;
  height: 45px;
  background: #6bf8d9;
  border-radius: 5px;
  transition: 0.4s;
}
.submit:hover {
  background: #c4fff2;
}
.signin {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
span a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: 0.5s;
}
span a:hover {
  text-decoration: underline;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .side-image {
    border-radius: 10px 10px 0 0;
  }
  .text {
    position: absolute;
    top: 70%;
    text-align: center;
  }
  .text p,
  i {
    font-size: 16px;
  }
  .row {
    max-width: 420px;
    width: 100%;
  }
}
