.gradient-custom-2 {
  /* fallback for old browsers */
  background: #51BFB5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #9FE3DD, #51BFB5, #11625B, #004843);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #9FE3DD, #51BFB5, #11625B, #004843);
}

.custom1{
  color: white;
  transition: .3s;
  &:hover {
    color:#9FE3DD;
    font-size: 18px;
    transition: .3s;
  }
}

#custom2{
  color: #9FE3DD;
  border-color: #9FE3DD;
  transition: .3s;
  &:hover {
    color:#9FE3DD;
    font-size: 14px;
    transition: .3s;
  }
}

/*e3b663 5e9186 6bf8d9*/
@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}