@import "./variaveis";

.main-container {
  display: flex;
  margin: 4vh;
  .initial-text {
    color: #6BF8D9;
    margin-left: 20vh;
    font-family: $font;
    margin-top: 7.5vh;
    margin-bottom: 25px;
    font-size: 33px;
    font-weight: bold;
    text-align: left;
    width: 55%;
    @media screen and (max-width: 768px) {
      margin-left: 0;
      font-size: 33px;
      width: 100%;
    }
  }

  .second-text{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 20vh;
  }

  .blocao{
    margin-bottom: 25px;
  }

  .image-main {
    // margin-right: 4vh;
    margin-left: 40vh;
    margin-top: 1.5vh;
    opacity: 0.80;
    max-width: 70vh;
    min-width: 10vh;
    height: auto;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.loginbtn{
  border-radius: 0 0 20px 0;
  // margin: 5.5vh;
  margin-top: 30px;
  margin-left: 20vh;
  text-decoration: none;
  color: #fff;
  padding: .923rem;
  background-color: #e4ae3b;
  transition: all .4s ease-in-out;
}

.loginbtn:hover{
  color: #fff;
  background-color: #997532;
}

#form-modal-aa{
  color: black;
  width: 440px;
  height: 500px;
  #aa{
    background-color: #fff;
    color: black;
    width: 110%;
    height: 20%;
    box-shadow: none;
  }
}

#modal-título{
  color: aqua;
  font-weight: bold;
}